:root {
	--font-basic: "LXGW WenKai GB", "Noto Sans SC-Local", "sans-serif", "PingFang SC", "Noto Sans SC", system-ui, sans-serif;
	--font-serif: "LXGW WenKai GB", "Noto Serif SC", serif;
	--font-creative: "LXGW WenKai GB", "Noto Sans SC-Local", "Noto Sans SC", system-ui, sans-serif;
	--font-stroke-free: "LXGW WenKai GB", "Lantinghei SC", "Microsoft YaHei", "MiSans", system-ui, sans-serif;
	--font-monospace: "LXGW WenKai GB", "monospace", "Cascadia Code", "Consolas", "Monaco", var(--font-basic), monospace;

	@media (max-resolution: 1.2dppx) {
		--font-basic: "LXGW WenKai GB", system-ui, sans-serif;
	}
}

/* autoprefixer: ignore next */
// 仅在 Chrome 130+ 启用本地可变字体
@supports (box-decoration-break: clone) {
	@font-face {
		font-family: "Noto Sans SC-Local";
		font-weight: 100 900; // 不指定则为 400
		src: local("Noto Sans SC");
	}

	@font-face {
		font-family: "Noto Serif SC-Local";
		font-weight: 100 900;
		src: local("Noto Serif SC");
	}
}
